# Ignore build outputs
bin/
obj/
*.pdb
*.exe

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore temporary files
*.log
*.cache

# Ignore Visual Studio temporary files
.vscode/
.vs/

# Ignore any files ending in ~
*~

# Do not ignore installed packages
!packages/
!packages/*

# Ignore global NuGet packages cache
.nuget/
